<div class="d-flex h-100 justify-content-center align-items-center mx-5 main-container">
    <div class="container rounded">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xxl-4 px-4 py-3">
                <div class="d-flex h-100 align-items-center">
                    <form class="w-100 pb-4" [formGroup]="loginForm" (submit)="formSubmit()">
                        <div class="text-center mb-4 title">
                            <img class="" src="/assets/images/logo.png" alt="Smart School" width="200" height="200" />
                        </div>
                        <div class="text-white mb-3 text-center login-message" [ngClass]="{'visible': showMessage}">
                            <div class="p-2">
                                <p class="mb-0 d-block p-2 bg-danger rounded"><i class="fas fa-exclamation-circle pr-1"></i><strong>{{ loginMessage }}</strong></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-user fa-fw"></i></span>
                                <input type="text" class="form-control rounded-right" placeholder="Digite o seu usuário" formControlName="username" required>
                                <div class="invalid-feedback">
                                  Por favor, insira o seu usuário.
                                </div>
                              </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-lock fa-fw"></i></span>
                                <input type="password" class="form-control rounded-right" placeholder="Digite a sua senha" formControlName="password" required>
                                <div class="invalid-feedback">
                                  Por favor, insira a sua senha.
                                </div>
                              </div>
                        </div>
                        <div>
                            <div class="form-check form-switch float-left">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label" for=""><small>Lembrar de mim</small></label>
                            </div>
                            <button type="submit" class="btn btn-login float-right" [disabled]="!loginForm.valid">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6 col-lg-7 col-xxl-8 d-none d-md-inline-flex p-0 rounded-right banner-sec">
                <div id="carousel" class="carousel slide w-100 h-100" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1"></li>
                        <li data-target="#carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner rounded-right h-100">
                        <div class="carousel-item h-100 active">
                            <div class="carousel-background w-100 h-100"></div>
                            <div class="carousel-caption d-none d-lg-block">
                                <div class="item-bg rounded p-2">
                                    <h5>Sistema Smart School</h5>
                                    <p class="text-justify mb-0">Gestão de alunos, professores e controle de notas. Tenha a informação que precisa para gerenciar sua escola.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item h-100">
                            <div class="carousel-background w-100 h-100"></div>
                            <div class="carousel-caption d-none d-lg-block">
                                <div class="item-bg rounded p-2">
                                    <h5>Reuniões Online</h5>
                                    <p class="text-justify mb-0">Queremos que você tenha o que há de melhor quando a opção é estudo, e pensando nisso criamos o módulo para reuniões online: estude, converse e aprenda!</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item h-100">
                            <div class="carousel-background w-100 h-100"></div>
                            <div class="carousel-caption d-none d-lg-block">
                                <div class="item-bg rounded p-2">
                                    <h5>Biblioteca Virtual</h5>
                                    <p class="text-justify mb-0">Quando o assunto é estudos, tenha em mãos a nossa biblioteca virtual, com ela você terá tudo que precisa para se aprofundar ainda mais em conhecimento.</p>
                                </div>
                            </div>
                        </div>
                    </div>	   
                </div>
            </div>
        </div>
    </div>
</div>