<div class="d-flex h-100 justify-content-center align-items-center">
    <div class="container rounded">
        <div class="row">
            <div class="col-md-4 px-4 py-3">
                <div class="d-flex h-100">
                    <form class="w-100" [formGroup]="loginForm" (submit)="formSubmit()">
                        <div class="text-center mb-4 title">
                            <img class="" src="/assets/images/logo.png" alt="Smart School" width="200" height="200" />
                        </div>
                        <div class="text-white mb-3 text-center login-message" [ngClass]="{'visible': showMessage}">
                            <div class="p-2">
                                <p class="mb-0 d-inline p-2 bg-danger rounded"><i class="fas fa-exclamation-circle pr-1"></i><strong>{{ loginMessage }}</strong></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="text-uppercase">Usuário</label>
                            <input type="text" class="form-control" placeholder="" formControlName="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="text-uppercase">Senha</label>
                            <input type="password" class="form-control" placeholder="" formControlName="password">
                        </div>
                        <div>
                            <div class="form-check form-switch float-left">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label" for=""><small>Lembrar de mim</small></label>
                            </div>
                            <button type="submit" class="btn btn-login float-right" [disabled]="!loginForm.valid">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-8 p-0 rounded-right banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide h-100" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner rounded-right h-100">
                        <div class="carousel-item h-100 active">
                            <img class="d-block w-100" width="880" height="600" src="/assets/images/carousel/1.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="item-bg rounded p-2">
                                    <h5>Sistema Smart School</h5>
                                    <p class="text-justify mb-0">Gestão de alunos, professores e controle de notas. Tenha a informação que precisa para gerenciar sua escola.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item h-100">
                            <img class="d-block w-100" width="880" height="600" src="/assets/images/carousel/2.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="item-bg rounded p-2">
                                    <h5>Reuniões Online</h5>
                                    <p class="text-justify mb-0">Queremos que você tenha o que há de melhor quando a opção é estudo, e pensando nisso criamos o módulo para reuniões online: estude, converse e aprenda!</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item h-100">
                            <img class="d-block w-100" width="880" height="600" src="/assets/images/carousel/3.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="item-bg rounded p-2">
                                    <h5>Biblioteca Virtual</h5>
                                    <p class="text-justify mb-0">Quando o assunto é estudos, tenha em mãos a nossa biblioteca virtual, com ela você terá tudo que precisa para se aprofundar ainda mais em conhecimento.</p>
                                </div>
                            </div>
                        </div>
                    </div>	   
                </div>
            </div>
        </div>
    </div>
</div>