<div class="row">
    <div class="col-sm-6" *ngIf="professorSelecionadoId">
        <app-titulo [titulo]="(professorSelecionadoId === -1 ? 'Novo professor' : 'Editar professor')">
            <button class="btn btn-danger" (click)="voltar()">Voltar</button>
        </app-titulo>
        
        <div class="card card-bg border">
            <div class="card-body">
                <form [formGroup]="professorForm" (submit)="professorSubmit()">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" formControlName="nome">
                    </div>
                    <div>
                        <hr />
                        <button type="submit" class="btn btn-primary" [disabled]="!professorForm.valid">Salvar</button>
                    </div>
                    <input type="hidden" formControlName="id">
                </form>
            </div>
        </div>
    </div>

    <div class="col">
        <app-titulo [titulo]=titulo>
            <button class="btn btn-success" (click)="novoProfessor()">Novo professor</button>
        </app-titulo>

        <div class="card overflow-hidden">
            <div class="card-body p-0">
                <table class="table table-striped table-hover table-md mb-0 table-clickable-rows">
                    <thead class="bg-primary text-white">
                    <tr>
                        <th scope="col" class="col-fit text-center"><i class="fas fa-cogs"></i></th>
                        <th scope="col">Nome</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let professor of professores">
                            <th class="col-fit text-nowrap">
                                <button class="btn btn-sm btn-outline-danger" (click)="deletarProfessor(professor.id)"><i class="fas fa-trash-alt"></i></button>
                            </th>
                            <td class="col-6 align-middle" (click)="selecionaProfessor(professor.id)">{{ professor.nome }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="alunosModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>