<div *ngIf="professorSelecionado">
    
    <div class="row">
        <div class="col mr-auto">
            <app-titulo [titulo]="'Professor: ' + professorSelecionado.id"></app-titulo>
        </div>
        <div class="col-auto mt-1">
            <button class="btn btn-warning" (click)="voltar()">Lista de professores</button>
        </div>
    </div>

    <form [formGroup]="professorForm" (submit)="professorSubmit()">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="nome">
        </div>
        <div class="mb-3">
            <label for="disciplina" class="form-label">Disciplina</label>
            <input type="text" class="form-control" formControlName="disciplina">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!professorForm.valid">Submit</button>
    </form>
</div>

<div *ngIf="!professorSelecionado">
    <app-titulo [titulo]=titulo></app-titulo>

    Nenhum professor selecionado

    <div class="card overflow-hidden">
        <div class="card-body p-0">
            <table class="table mb-0 table-hover">
                <thead class="bg-primary text-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Disciplina</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let professor of professores" style="cursor: pointer;" (click)="selecionaProfessor(professor)">
                        <th scope="row">{{ professor.id }}</th>
                        <td>{{ professor.nome }}</td>
                        <td>{{ professor.disciplina }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>